body {
	margin-left: 100px;
	background-color: lightblue;
}

h1 {
	color: turquoise;
	font-family: "Open Sans" , sans serif;
	font-size: 50px;
}

h2 {
	color: white;
	font-size: 35px;
}

p {
	font-size: 25px;
	color: white;
}